numpy
matplotlib
spyder
scikit-image
scikit-learn
bayesian-optimization
nvidia-ml-py3
h5py
opencv-python
scipy
ffmpeg-python
--extra-index-url https://download.pytorch.org/whl/cu113
torch 
torchvision 
torchaudio 
