numpy
matplotlib
spyder
scikit-image
scikit-learn
bayesian-optimization
nvidia-ml-py3
h5py
opencv-python-headless==4.5.3.56
scipy==1.7.2
ffmpeg-python
--extra-index-url https://download.pytorch.org/whl/cu113
torch 
torchvision 
torchaudio 
